.loading {
    padding: 60px;
    text-align: center;
    font-size: 28px;
} 

.doll-list-h1 {
    color: black;
    text-shadow: 4px 4px #FFF952;
    margin-bottom: 0;
}

.doll-list-h2 {
    color: #5898BE;
    font-size: 40px;
    text-shadow: 2px 2px #AED7F0;
}

.collection-name {
    background-color: #81BADC;
    color: white;
    text-shadow: 2px 2px #5898BE;
    padding: 10px;
}

.collection-name h3 {
    font-size: 28px;
    font-style: normal;
    margin: 0;
}


@media only screen and (min-width: 768px) {
    .doll-list {
        display: inline-block;        
    }
    .doll-list > .InfoBox {
        display: inline-block;
        width:23%;
        height: 420px;
        margin-left: 1%;  
        border: none;     
    }
    .doll-image {
        padding-left: 30px; 
        margin-bottom: 10px;
        height: 203px !important;      
    }
    .doll-image img {
        max-height: 203px !important;
        max-width: 135px !important;
    }
    .doll-list-h1, .doll-list-h2 {
        text-align: center;
    }    
}

