.doll-detail h1 {
    font-size: 24px;
    padding-left: 35px;
}

/* .info {
    margin: 30px 10px;
    padding-left: 35px;
} */


@media only screen and (min-width: 768px) {
    .doll-detail {
        display: flex;        
    }

    .info {
        margin: 30px 10px;
        padding-left: 35px;
    }

    .carousel {
        height: 725px;
    }
    .info {
        margin-top: 50px;   
    }
    
}

