.error500 {
    background-image: url("../assets/500-1.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.error500 img {
    width: 100%;
}

.error500 p {
    font-size: 36px;
    font-weight: bold;
    margin: 40px 30px 0 30px;
}

@media only screen and (min-width: 768px) {
    .error500 {
        flex-direction: row;
        justify-content: space-between;
     }

    .error500 img {
       max-width: 600px;    
       height: 100%;
    }

    .error500 p {
        font-size: 80px;
        margin: 400px 30px 0 60px;
    }
}
