/* Footer */

.footer {
  position: absolute;
  bottom: -10px;
  width: 98vw;
  padding: 10px;
  height: 80px;
  background-color: #5898BE;
  z-index: 2;
}


.about {
  display: flex;
  justify-content: space-between;  
  padding: 0 10px;
  color: white;
}

.about a {
    color: white;    
    font-weight: bold;
    text-decoration: none;
  }

  @media only screen and (min-width: 768px) {
    .footer {
      height: 50px;
    }
  }