.InfoBoxCollection {
    border-bottom: solid 1px grey;
    padding: 20px 0 20px 10px;
    display: flex;
  }

.InfoBoxCollection span {
    font-weight: bold;
}

.my-doll-image {
    width: 108px;
    display: flex;
    justify-content: center;    
} 

.my-doll-image img {
    max-height: 162px;
    max-width: 108px;
}

.my-doll-info {
    padding-left: 10px;
}

.my-doll-info h4 {
    color: black;
    font-style: normal;
    text-shadow: 4px 4px #FFF952;
    text-decoration: none;
    margin: 0;
}

.my-doll-info a {
    text-decoration: none;
}

.my-doll-info h4:hover {
    color: #5898BE;
}

.my-doll-info p {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.my-doll-info p {
    color: black;
    font-size: 0.9rem;
}



  