.InfoBox {
    border-bottom: solid 1px grey;
    padding: 20px 0 20px 10px;
    display: flex;
  }

.InfoBox span {
    font-weight: bold;
}

.doll-image {
    width: 108px;
    display: flex;
    justify-content: center;    
} 

.doll-image img {
    max-height: 162px;
    max-width: 108px;
}

.doll-info {
    padding-left: 10px;
}

.doll-info h2 {
    color: black;
    /* text-shadow: 1px 1px 2px rgb(212, 206, 29), 0 0 1em rgb(212, 206, 29), 0 0 0.2em #FFF952; */
    text-shadow: 4px 4px #FFF952;
    font-size: 20px;
    margin: 0;
}

.doll-info h3 {
    color: #535353;
    font-size: 16px;
    margin: 5px 0;
}

.doll-info p {
    color: black;
    font-size: 0.9rem;
}


.button {
    text-align: center;
    width: 93px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    color: black !important;
    /* text-transform: uppercase; */
    text-decoration: none;
    background: #FFF952;
    padding: 5px;
    margin: 0 2px;
    border-radius: 12px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  
  .button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
  
  