.doll-detail h1 {
    font-size: 24px;
    padding-left: 35px;
}

.BrainhubCarousel {
    z-index: -100 !important;
    position: relative;
}

.carousel {
    max-width: 660px;
    max-height: 725px;
    
}

.carousel img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}

.carousel button {
    background-color: #6aadd5;    
}

.carousel button:hover {
    background-color: #FFF952;    
}

.info {
    margin: 30px 10px;
    padding-left: 35px;
}


@media only screen and (min-width: 768px) {
    .doll-detail {
        display: flex;        
    }

    .carousel {
        height: 725px;
    }
    .info {
        margin-top: 50px;   
    }
    
}

