.main-container {    
    width: 100%;
    position: relative;
    min-height: calc(-105px + 100vh);
    display: block;
    margin: -8px;
  }

  .content-wrap {
    max-width: 640px;    
    padding: 65px 10px 75px 10px;  
  }