.main-container {
  width: 100%;
  position: relative;
  min-height: calc(-105px + 100vh);
  display: block;
  margin: -8px;
}

.main-container h1,
h2 {
  text-align: center;
}

.content-wrap {
  padding: 65px 0 75px 10px;
}

.logout {
  margin-top: 100px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #5898be;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

h4 {
  font-size: 20px;
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.button {
  text-align: center;
  width: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: black;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #fff952;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-inactive {
  text-align: center;
  width: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #AED7F0;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-profile {
  text-align: center;
  width: 250px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #81BADC;
  padding: 30px;
  margin: 10px;
  border-radius: 25px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-profile:hover {
  background: #5898BE;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
