.main-container {
  position: relative;
  min-height: calc(-105px + 100vh);
  display: block;
  margin: -8px;
}

.main-container h1,
h2 {
  text-align: center;
}

.content-wrap {
  width: 98%;
  padding: 65px 0 75px 20px;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #5898be;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.button {
  text-align: center;
  width: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: black;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #fff952;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-inactive {
  text-align: center;
  width: 100px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #ddf0fc;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-ebay {
  text-align: center;
  width: 80px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: #81badc;
  padding: 5px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-ebay:hover {
  background: #5898be;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

@media only screen and (min-width: 768px) {
  .button-ebay {
    width: 100px;
    font-size: 14px;
  }
}

.button-large {
  text-align: center;
  width: 210px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff952;
  padding: 10px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-large:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-inactive-large {
  text-align: center;
  width: 210px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #ddf0fc;
  padding: 10px;
  margin: 3px;
  border-radius: 12px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

#wishlist-btn {
  width: 215px;
  text-transform: lowercase;
  background: #81badc;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

#wishlist-btn:hover {
  background: #5898be;
}

.button-profile {
  text-align: center;
  width: 250px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #81badc;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-profile:hover {
  background: #5898be;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

table {
  max-width: 95vw;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-size: 14px;
}

table,
th,
td {
  border: 1px solid #5898BE;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #AED7F0;
}
th img {
  width: 70px;
}

.EbayTable  {
  display: inline-block;
}

.EbayTable h3 {
  margin-top: 10px;
}

#price-increase  span{
  font-size: 24px;
  color: #5898be;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  table {
    max-width: 30vw;    
    font-size: 16px;
  }
  
  th,
  td {
    padding: 10px;
  }

  th img {
    width: 100px;
  }

  #price-increase  span{
    font-size: 36px;
  }
}
